body {
    margin: 0;
    padding: 0;
    font-family: "Catamaran", sans-serif;
}

/* NAVIGATION */
.img-logo {
    max-width: 60%;
    height: auto;
    margin-top: 3%;
}

.nav-item-pad {
    padding: 0 1.5rem;
}

.nav-link-main,
.nav-link-drop {
    color: #000;
}

.nav-link-main {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

.dropdown-menu {
    min-width: 0rem;
    left: 20%;
}

.menu-drop-shadow {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
}

/* START HEADER*/

.carousel-indicators {
    filter: invert(1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    position: absolute;
}

/* HEADINGS */
.heading-box {
    padding-top: 1%;
    padding-bottom: 1%;
}

.heading-title {
    font-size: 1.5rem;
    line-height: 2;
}

.heading-p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2;
    color: rgb(161, 161, 161);
}

/* TEXT, PARAGRAPHS, BUTTONS, OTHERS */
.main-black {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: #000;
}

.btn-custom {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}


.li-pb li {
    padding: 1% 0 1%;
}

/* PRODUCTS */
.card-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.card-text {
    font-size: 1.2rem;
}


.product-item {
    margin: 0 5%;
}

.products-info-icon {
    font-size: 8rem;
}

.nav-link.active {
    border-top: 1px solid;
    border-width: 1px;
}

.tab-content {
    margin-top: 3%;
}

.card-img-bottom {
    margin-top: 5%;
}

/* FOOTER */

.footer-social-link {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #000;
}

.footer-social-link:hover {
    text-decoration: none;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 1366px) {

    .carousel-control-prev-icon {
        left: -2rem;
    }

    .carousel-control-next-icon {
        right: -2rem;
    }
}

/* TESTING */
