
body {
    font-family:  "Catamaran", sans-serif;
    font-weight: 300;
}

/* NAVIGATION */
.img-logo {
    max-width: 50%;
    height: auto;
    margin-top: 3%;
}

.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

/* .navigation {
    margin-bottom: 3%;
} */
.nav-item-pad {
    padding: 0 1.5rem;
}
.nav-link-black {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: #000;
}

.menu-drop-shadow {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
}

/* WELCOME HEADER */
 .welcome-box {
    padding: 1% 0 1%;
} 

.welcome-box h3 {
    font-size: 1.5rem;
    line-height: 2;
}

.welcome-box p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2;
    color: rgb(161, 161, 161);
}

/* PRODUCTS */
.card-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.card-text {
    font-size: 1.2rem;
}

.test {
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3) */

}

.test2 {
    /* border: .5px solid rgb(161, 161, 161); */
}

.products-box {
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3) */
}
/* TESTING */
/* 
#test {
    padding: 5% 10%;
}
.test-h {
    font-weight: 900;
    font-size: 2rem;
    line-height: 2;
    padding: 0 15% 0 15%;
} */